.container {
  background-color: #27272b;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  min-width: 300px;
  max-width: 500px;
  word-wrap: break-word;

  .subtitle {
    font-style: italic;
  }

  .priority {
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: center;
  }

  .subtasksContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;
    margin-left: 20px;
    overflow: auto;
    li {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .header {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
  }
}
